<!DOCTYPE html>
<head>
	<title>GeekBuddy</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fjalla+One&display=swap" rel="stylesheet">
	<style>
		* {
			text-align: center;
			font-family: 'Dancing Script', 	cursive;

		}
		div {
			background-color: #F64C72;
			box-shadow: rgba(0,0,0,0.2);
			margin: auto;
			border: 2px solid black;
			width: 300px;
			padding: 50px 50px;
			border-radius: 10px;
		}
		
	</style>
</head>
<body>

	<h1>Welcome To GeekBuddy</h1>
	<div> 
		<form action="/login" method="POST">
  			<label for="emailid">EMAIL-ID/label><br>
  			<input type="text" id="emailid" name="emailid"><br><br>
 			<label for="password" >PASSWORD</label><br>
  			<input type="password" id="password" name="password"><br><br>
  			<input type="submit" value="Submit">
		</form><br>
		<a href="/signup">Sign Up</a><br>
	</div>
	

</body>
</html>